{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock %}

{% block content %}


    <main>
        <section class="register-form">
            <a href="{% url 'home-page' %}">
                <div class="logo-badge">
                    <div class="circle">
                        <img src="{% static 'images/chamillion-transparent-v2.png' %}" alt="Chamillion Logo"
                             class="logo"/>
                    </div>
                </div>
            </a>
            <form method="post" class="register">
                <h2>Login to Your Account</h2>
                {% csrf_token %}
                {{ form }}

                <a href="#">Forgot password?</a>

                <button type="submit">Login</button>
                <div class="register-link">
                    Don't have an account?
                    <a href="{% url 'register-user' %}">Register</a>
                </div>
            </form>
        </section>
    </main>
{% endblock %}