{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chamillion - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body class="home-page"
      style="background-image: url('{% static "images/d8758b46-d341-41c8-ad05-adf2629cdb17.png" %}')  ;">


<!-- Navigation bar start -->
<header class="fade-in">
    <nav class="navbar">
        <ul class="nav-left">
                {% for category in categories %}
                    <li>
                        <a href="{% url 'home-page' %}?category={{ category.id }}"
                                {% if selected_category|add:'' == category.id|stringformat:"s" %}
                           class="active"
                                {% endif %}>
                            {{ category }}
                        </a>
                    </li>
                {% endfor %}
        </ul>
        <div class="logo-badge">
            <a href="{% url 'home-page' %}">
                <div class="circle">
                    <img src="{% static 'images/chamillion-transparent-v2.png' %}" alt="Chamillion Logo" class="logo"/>

                </div>
            </a>
        </div>
        <ul class="nav-right">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'user-details' user.id %}"><i class="fas fa-user"></i> Account</a></li>
            {% else %}
                <li><a href="{% url 'login-user' %}"><i class="fas fa-user"></i> Login</a></li>
            {% endif %}

            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart fa-fw fa-lg"></i> Cart</a></li>

            <li>
                <button class="open-search-btn" onclick="toggleSearchBar()">
                    <i class="fas fa-search"></i> Search
                </button>
            </li>
        </ul>

        <form id="searchForm" class="search-bar-container" onsubmit="handleSearch(event)">
            <input type="text" placeholder="Search..." name="query">
            <button type="submit" class="search-btn">Search</button>
            <button type="button" class="close-btn" onclick="toggleSearchBar()">×</button>
        </form>


    </nav>
</header>
<!-- Navigation bar end -->

{% block content %}
{% endblock %}


<!-- Footer start -->
<footer class="fade-in">
    <p>&copy; 2025 Chamillion. All rights reserved.</p>
</footer>
<!-- Footer end -->

<script src="{% static 'styles/script.js' %}"></script>

{% block extra_js %}
{% endblock %}
</body>
</html>
