{% extends 'base.html' %}

{% block content %}
    <!-- Background animation container -->
    <div id="background-animation"></div>
    <!-- Main Content start -->
    <main class="fade-in">
        <section class="categories">
            <div class="category-grid">
                {% for product in products %}
                    <a href="{% url 'product-details' product.id %}">
                        <div class="category-card">
                            <img src="{{ product.product_image.url }}" alt="">
                            <h3>{{ product.product_name }}</h3>
                        </div>
                    </a>

                {% endfor %}
            </div>
        </section>
    </main>
    <!-- Main Content end -->
{% endblock %}