{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="product-details">
            <div class="product-image">
                <img src="{{ current_product.product_image.url }}" alt="Product Name"/>
            </div>
            <div class="product-info">
                <h1>{{ current_product.product_name }}</h1>
                <p class="product-price">{{ current_product.unit_price }}$</p>
                <p class="product-description">
                    {{ current_product.product_description }}
                </p>
                <button class="add-to-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </section>

        <h2 class="review-h2">Reviews</h2>
        {% for review in reviews %}
            <div class="review">
                <strong>{{ review.account.username }}</strong>
                <span>{{ review.star_rating }}</span>
                <p>{{ review.comment }}</p>
            </div>
        {% empty %}
            <p class="review-p">No reviews yet.</p>
        {% endfor %}
    </main>
{% endblock %}
