{% extends 'base.html' %}
{% block content %}
    <main>
    <div class="profile-container">
        <div class="profile-card">
            <h2>Edit Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                    <label for="change-password">Change password</label>
                    <input id="change-password" name="change-password" type="password">
                    <label for="confirm-change-password">Confirm new password</label>
                    <input id="confirm-change-password" name="confirm-change-password" type="password">
                </div>

                <button type="submit" class="profile-save-btn">Save Changes</button>
            </form>
        </div>
    </div>
    </main>

{% endblock %}