{% extends 'base.html' %}
{% block content %}
    <main>
    <div class="profile-container">
        <div class="profile-card">
            <h2>Edit Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button type="submit" class="profile-save-btn">Save Changes</button>
            </form>
        </div>
    </div>
    </main>

{% endblock %}