{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/create_review.css' %}">
{% endblock %}

{% block content %}
    <div class="review-container">
        <div class="product-image">
            <img src="{{ product.product_image.url }}" alt="">
        </div>

        <h2>Review for: {{ product.product_name }}</h2>

        <form method="post">
            {% csrf_token %}

            {{ form }}
            <button type="submit" class="submit-btn">Submit Review</button>
        </form>
    </div>
{% endblock %}