{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/search.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="categories">


            <div class="category-grid">
                {% if products %}
                    <h2 class="search-title">Search Results for "{{ query }}":</h2>
                    {% for product in products %}
                        <a href="{% url 'product-details' product.id %}">
                            <div class="category-card">
                                <img src="{{ product.product_image.url }}" alt="">
                                <h3>{{ product.product_name }}</h3>
                            </div>
                        </a>
                    {% endfor %}

                {% else %}
                    <h2 class="search-title">No products found for "{{ query }}".</h2>
                {% endif %}
            </div>

        </section>
    </main>

{% endblock %}